/* Global */
:root {
  --main-bg-color: #cccccc;
  --main-link-color: #00A1F2;
  --red-color: #FF6163;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/latoto/latoto-regular.woff);
}

@font-face {
  font-family: LatoBold;
  src: url(../fonts/latoto/latoto-bold.woff);
}

body, html {
	font-family: Lato, Helvetica, Arial;
}

main {
	/* max-width: 1200px; */
	/* margin: 0 auto; */
	padding: 0 40px;
}

.gray-text {
	color: var(--main-bg-color);
}

.red-text {
	color: var(--red-color);
}

a {
	text-decoration: none;
	color: var(--main-link-color);
}

h5 {
	margin: 0;
	font-size: 1.6em;
	font-weight: normal;
	line-height: 1.3em;
}
.dialog-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

dialog {
	border-color: transparent;
	position: fixed;
	max-width: 400px;
	box-shadow: 2px 2px 10px rgba(0,0,0,.3);
	width: 75%;
	z-index: 2;
}

dialog.auth-dialog {z-index: 3;position: relative;}
dialog.auth-dialog button {
	margin-left: -3px;
}
dialog .close-button {
	position: absolute;
	top: -25px;
	right: -30px;
	opacity: 0.8;
	color: white;
	font-size: 2.5em;
}


.dialog-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 1;
}

input {
	border: 1px solid var(--main-bg-color);
	border-radius: 2px;
	padding: 10px 12px;
}

input:focus {
	outline: none;
	border-color: var(--main-link-color);
}

.flex {
	display: flex;
}

.flex.center {
	justify-content: center;
}

/*Header*/

header {
	display: flex;
	padding: 38px 0;
	justify-content: space-between;
}

.logo-holder {
	padding: 8px 0;
}

.search-form {
	padding: 1px;
	display: flex;
	width: 100%;
	padding: 0 25px;
	position: relative;
}

.search-input {
	margin-right: -23px;
	width: 100%;
}
.avatar-holder {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: -2px;
	min-width: 169px;
}
.avatar {
	width: 44px;
	height: 44px;
	background-color: var(--main-bg-color);
	border-radius: 50%;
	margin: 0 10px;
	overflow: hidden;
}

.avatar-image {
	width: 100%;
}
.exit-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
/* Button */
button {
	border: 1px solid var(--main-bg-color);
	border-radius: 2px;
	padding: 10px 34px;
	background-color: white;
	/* outline: 0; */
	/* background: 0; */
}

.genres-list {
	display: none;
	padding: 21px 0;
	font-size: 1.3em;
	padding-bottom: 58px;
}


.book {
	display: flex;
	padding-bottom: 55px;
}

.book-image {
	width: 145px;
	min-height: 205px;
	background-color: #cccccc;
}

.book-info {
	padding: 0 25px;
}

.book-description-holder {
	max-width: 750px;
	font-size: 1.3em;
	line-height: 1.4em;
	padding: 10px 0px;
}
.book-genre {
	font-size: 1.3em;
	color: var(--main-bg-color);
	padding-bottom: 18px;
}
.book-genre:empty {
	display: none;
}
.toggle-more {
	line-height: 2em;
}

.book-taken {
	font-size: 1.3em;
	line-height: 1.4em;
	padding: 10px 0;
}

footer {
	padding: 30px 0;
}

hr {
	margin: 30px 0;
}

.camera-button {
	display: none;
}

.camera-button button {
	border: 0;
	padding: 0;
	position: relative;
	top: 14px;
	right: 17px;
}

.camera-button input {
	display: none;
}

.my-books {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	overflow-x: scroll;
}

.book-name {
    min-width: 300px;
}

.hidden-checkbox {
	display: none;
}

label[for="helpshown"] {
	cursor: pointer;
}

@media (max-width: 767px) { 

    body {
    	font-size: 14px;
    }

    .search-input {
    	max-width: 68%;
    }

    form.search-form {
    	padding: 0;
    }
    header {
    	flex-direction: column;
    	justify-content: space-between;
    	min-height: 35px;
    	padding: 8px 0;
    	flex-direction: column;
    }
    main {
    	padding: 0 20px;
    }
    .book-image {
    	width: 90px;
    	height: auto;
    	min-height: 130px;
    }

    .book-info {
    	padding: 0 10px;
    }

    .avatar-holder {
    	margin-top: 10px;
    }
	.camera-button {
		display: block;
	}
    .camera-button button {
    	top: 9px;
    }
}
